- if user_signed_in?
  = link_to "User Profile", user_profile_path

- if @ad.belongs_to?(current_user)
  Here's your confirmation token: 
  %strong
    = "#{@ad.confirmation.token}"

= debug @ad.user
- if user_signed_in? || @ad.belongs_to?(current_user)
  = debug @ad
- else
  Vous devez vous inscrire pour reserver vos places
  = link_to "Incrivez Vous Maintenant", register_path