= link_to "logout", logout_path
= link_to "Nouvelle annonce", new_user_ad_path(@user)

%h1="Edit #{@user.full_name} profile"

= form_for @user, :html => { :multipart => true } do |f| 

  .input-group
    = f.label :first_name
    = f.text_field :first_name
  
  .input-group
    = f.label :last_name
    = f.text_field :last_name

  .input-group
    = f.label :email
    = f.email_field :email
  
  .input-group
    = f.label :phone_number
    = f.phone_field :phone_number
  
  .avatar
    - if @user.has_avatar?
      %img{:src=>"#{@user.avatar.thumb.url}", :alt=>""}
  
      .remove-avatar
        = f.check_box :remove_avatar
        Remove avatar

  .input-group
    = f.label :avatar
    = f.file_field :avatar

  .input-group
    = f.label :year_of_birth
    = f.number_field :year_of_birth, :in => 1940...2000

  .input-group
    = radio_button :user, :gender, :male, :checked => true
    = f.label :male

  .input-group
    = radio_button :user, :gender, :female
    = f.label :female
  
  %div
    = f.submit "Update"

%h1
  Liste des annonces

%table.table
  %thead
    %th="Destination"
    %th="Departure"
    %th="Departure on"
    %th="Departure at"
    %th="Seat limit"
    %th="Price per seat"
    %th="Highway"
    %th="Actions"
  - @user.ads.each do |a| 
    %tbody
      %td
        = a.destination
      %td
        = a.departure
      %td
        = a.departure_on
      %td
        = a.departure_at
      %td
        = a.seat_limit
      %td
        = a.price_per_seat
      %td
        = a.highway
      %td
        = link_to "show", user_ad_path(@user, a)
        %a{:href=>"#{user_ad_path(@user, a)}", :'data-confirm'=>"Are you sure?", :'data-method'=>"delete", :rel=>"nofollow"}
          destroy
