%h1
  Bienvenue sur covoiturage.ma

= search_form_for @q, :url => search_path, :html => { :method => :post } do |f|
  %h4
    Recherche Directe

  .input-group
    = f.label :departure_eq 
    = f.text_field :departure_eq 

  .input-group
    = f.label :destination_eq 
    = f.text_field :destination_eq 

  .input-group
    = f.label :departure_on_eq 
    = f.text_field :departure_on_eq 

  .input-group
    = f.label :departure_at_eq 
    = f.text_field :departure_at_eq 

  = f.submit "Search"

= search_form_for @q, :url => search_path, :html => { :method => :post } do |f|
  %h4
    Rechercher en Marge

  .input-group
    = f.label :departure_eq 
    = f.text_field :departure_eq 

  .input-group
    = f.label :destination_eq 
    = f.text_field :destination_eq 

  .input-group
    = f.label :departure_on_gt 
    = f.text_field :departure_on_gt 

  .input-group
    = f.label :departure_on_lt 
    = f.text_field :departure_on_lt 

  = f.submit "Search"